@import "@styles/variables";

.label {
  position: relative;
  display: flex;
}

.label__icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  fill: $border-grey;
  transition: all 200ms;
}

.label__input {
  padding: 13px 8px 12px;
  font-size: 12px;
  color: $text-grey;
  border: 1px solid $border-grey;
  transition: all 200ms;

  &::placeholder {
    color: $border-grey;
    transition: all 200ms;
  }

  &:hover,
  &:focus {
    outline: none;

    &::placeholder {
      color: $text-lightgrey;
    }

    & + .label__icon {
      fill: $text-lightgrey;
    }
  }
}

.label__input[type=search] {
  padding-left: 36px;
}
