@import "@styles/variables";

.header {
  width: 343px;
  margin-top: 23px;
  margin-bottom: 30px;
}

.header__search {
  width: 270px;
  object-fit: contain;
  margin-right: 15px;
}

.header__flexWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.header__title {
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  color: $text-darkgrey;
}

.header__change {
  font-weight: 700;

  &_red {
    color: $text-red;
  }

  &_green {
    color: $text-green;
  }
}

.header__subtitle {
  display: block;
  font-size: 12px;
  color: $text-lightgrey;
}

.header__searchButton {
  width: 20px;
  height: 20px;
  margin: 2px;
}
