@import "@styles/variables";

.header {
  width: 343px;
  margin-top: 23px;
  margin-bottom: 30px;
}

.header__search {
  width: 270px;
  object-fit: contain;
  margin-right: 15px;
}

.header__flexWrapper {
  display: flex;
  margin-bottom: 4px;
}

.header__marketChange {
  margin-right: auto;
}

.header__searchButton {
  width: 20px;
  height: 20px;
  margin: 2px;
  margin-left: auto;
  align-self: flex-start;
}
