@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin card {
  box-sizing: border-box;
  width: 343px;
  padding: 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  text-decoration: none;
  background-color: $basic-white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba($basic-black, 0.075);
}
