$basic-white: #fff;
$basic-black: #000;

$text-darkgrey: #212529;
$text-grey: #343A40;
$text-lightgrey: #6C757D;
$text-green: #21BF73;
$text-red: #D90429;

$color-active: #0063F5;

$bg-lightgrey: #F8F9FA;

$border-grey: #DFE2E4;